/*------------ Google Fonts ------------*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
/* ------------------------------------ */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --primary-color: #e4b657;
  --BG-light: #fffaf0;
  --Grey-Color: #b0b0b0;
  --black-color: #1c1710;
  --Red-danger: #d92828;
}

a {
  text-decoration: none;
}
ul li {
  list-style: none;
}

/*----------------- Header -----------------*/
header {
  margin: 0 6.25rem;
  padding: 20px 0 40px 0;
}
@media screen and (max-width: 1024px) {
  header {
    margin: 0 2rem;
  }
}
@media screen and (max-width: 450px) {
  header {
    background-color: var(--BG-light);
    margin: 0;
    padding: 2rem;
  }
}
@media screen and (max-width: 1024px) {
  .menu-btn {
    margin-right: 0 !important;
  }
}
.exploreMarket_Btn {
  color: var(--black-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  transition: 0.2s all;
}
.exploreMarket_Btn:hover {
  color: var(--primary-color);
}
.accountSignUp_Btn {
  color: var(--primary-color);
  background-color: var(--BG-light);
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  padding: 17px 42px;
  margin: 0 10px;
  border-radius: 10px;
  transition: 0.3s all;
}
.accountSignUp_Btn:hover {
  color: var(--primary-color);
  background-color: var(--black-color);
}
.accountLogin_Btn {
  color: var(--black-color);
  background-color: var(--primary-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  padding: 17px 42px;
  border-radius: 10px;
  transition: 0.3s all;
}
.accountLogin_Btn:hover {
  color: var(--primary-color);
  background-color: var(--black-color);
}
@media screen and (max-width: 1065px) {
  .accountSignUp_Btn,
  .accountLogin_Btn {
    display: none;
  }
}

/* ================================== */

.overlay-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.overlay-menu a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.overlay-menu a:hover,
.overlay-menu a:focus {
  color: #f1f1f1;
}
.overlay-menu .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
@media screen and (max-height: 450px) {
  .overlay-menu a {
    font-size: 20px;
  }
  .overlay-menu .closebtn {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 50px;
  }
}
@media screen and (max-width: 450px) {
  .overlay-menu .closebtn {
    position: absolute;
    top: 0px;
    right: 20px;
    font-size: 50px;
  }
}

/*--------------------- Hero Section ---------------------*/
.tfe-forexHero__Section {
  background: url("./media/Lines.png") no-repeat center center;
  background-size: contain;
  background-color: var(--BG-light);
  padding: 180px 100px 180px 100px;
}
.tfe-forexHero__left p {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: var(--primary-color);
}
.tfe-forexHero__left h1 {
  font-weight: 600;
  font-size: 62px;
  line-height: 75px;
  color: var(--black-color);
}
.tfe-forexHero__right p {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--Grey-Color);
}
.tfe-forexHero__blackSection {
  background-color: var(--black-color);
  height: 18px;
}
.tfe-forexHero__primaryClrSection {
  background-color: var(--primary-color);
  height: 120px;
}

/*------------------ What is Forex Section ------------------*/
.tfe-forexSection_row {
  padding: 100px 215px;
}
.tfe-forexSection_left h1 {
  font-weight: 600;
  font-size: 42px;
  line-height: 51px;
  color: var(--black-color);
}
.tfe-forexSection_left p {
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  color: var(--Grey-Color);
}

/* ------------- Factors Affecting the Forex -------------  */
.tfe-forexFactor_row {
  padding: 100px 215px;
  background-color: var(--black-color);
}
.tfe-forexFactor_row h1 {
  font-weight: 600;
  font-size: 42px;
  line-height: 51px;
  color: #ffffff;
}
.tfe-forexFactor div h1 {
  font-weight: 500;
  font-size: 42px;
  line-height: 51px;
  color: var(--primary-color);
}
.tfe-forexFactor div h4 {
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;
  color: #ffffff;
}
.tfe-forexFactor p {
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  color: var(--Grey-Color);
}
.tfe-forexFactor_left {
  border-right: 1px solid #373737;
  border-bottom: 1px solid #373737;
}
.tfe-forexFactor_right {
  border-bottom: 1px solid #373737;
}
.tfe-forexFactorTopDiv {
  margin-top: 90px;
}

/*-------------------- Why Trade Forex --------------------*/
.tfe-whyTradeForex_row {
  padding: 100px 215px 0 215px;
  margin-bottom: 100px;
}
.tfe-whyTradeForex__mainHeading {
  font-weight: 600;
  font-size: 42px;
  line-height: 51px;
  color: var(--black-color);
}
.tfe-whyTradeForex__OuterDiv {
  padding: 33px 35px 64px 24px;
  box-shadow: 0px 13.224px 99.1803px rgba(214, 214, 214, 0.25);
  border-radius: 6.61202px;
  border-bottom: 2px solid transparent;
  transition: 0.2s all;
}
@media only screen and (max-width: 1600px) {
  .tfe-whyTradeForex__OuterDiv {
    width: 370px;
  }
}
@media only screen and (min-width: 1601px) {
  .tfe-whyTradeForex__OuterDiv {
    width: 430px;
  }
}
.tfe-whyTradeForex__OuterDiv:hover {
  border-bottom: 2px solid var(--primary-color);
}
.tfe-whyTradeForex__InnerDiv h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: var(--black-color);
}
.tfe-whyTradeForex__OuterDiv p {
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  color: var(--Grey-Color);
  margin-top: 32px;
}

/* ========================================================================= */
/*----------------- Newsletter | Start with Trillium Token -----------------*/
.newsletterOuterDiv {
  padding: 0 215px;
  margin: 100px 0;
}
.newsletterRow {
  background: var(--black-color);
  height: 230px;
  border-radius: 20px;
}
.newsletter__Left h3 {
  font-weight: 500;
  font-size: 42px;
  line-height: 51px;
  color: #ffffff;
}
.newsletter__Left p {
  font-size: 16px;
  line-height: 27px;
  color: var(--Grey-Color);
}
.newsletter__Right input[type="text"] {
  border-radius: 10px !important;
  border: 1px solid #6d6c6b;
}
.newsletter__Right input[type="text"]:focus {
  box-shadow: 0px 0px 30px rgba(183, 183, 183, 0.25);
}
#newsletter__SubmitBtn {
  padding: 20px 25px;
  border-radius: 10px;
  background-color: var(--primary-color);
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

/*----------------- Footer -----------------*/
/*----------------- Footer -----------------*/
footer {
  padding: 0 13.4rem;
}
@media screen and (max-width: 1024px) {
  footer {
    padding: 0 4rem;
  }
}
@media screen and (max-width: 768px) {
  footer {
    padding: 0 2rem;
  }
}
@media screen and (max-width: 768px) {
  .companyCol p,
  .getStartedCol p,
  .socialPresenceCol p {
    font-weight: 500;
    font-size: 1rem;
    line-height: 22px;
    margin-bottom: 1.875rem;
  }
}
.companyCol p,
.getStartedCol p,
.socialPresenceCol p {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 22px;
  margin-bottom: 1.875rem;
}
.companyCol a,
.getStartedCol a,
.socialPresenceCol a {
  display: block;
  font-weight: 500;
  font-size: 1rem;
  line-height: 27px;
  color: #6d6c6b;
  transition: 0.2s all;
  margin: 1.067rem 0;
}
@media screen and (max-width: 768px) and (min-width: 450px) {
  .linkedIn_SocialIcon img {
    margin-top: 1rem;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 768px) {
  .reachUs_Text {
    margin-top: 2.3rem;
  }
}
.plateformCol a:hover,
.companyCol a:hover,
.getStartedCol a:hover,
.socialPresenceCol a:hover {
  color: var(--primary-color);
}
.contactUs a {
  font-weight: 500;
  font-size: 1rem;
  line-height: 27px;
  color: #6d6c6b;
}
.footerLogo img {
  width: 133px;
}
.pwdIng a {
  color: var(--primary-color);
}
.pwdIng a:hover {
  text-decoration: underline;
}
.footerHrLine {
  color: #e4e4e4;
}
@media screen and (min-width: 450px) {
  .footerHrLine {
    display: none;
  }
}

/* ------------------------------------ */