/*------------ Google Fonts ------------*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
/* ------------------------------------ */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --primary-color: #e4b657;
  --BG-light: #fffaf0;
  --Grey-Color: #b0b0b0;
  --black-color: #1c1710;
  --Red-danger: #d92828;
}

a {
  text-decoration: none;
}
ul li {
  list-style: none;
}

/*----------------- Header -----------------*/
header {
  margin: 0 6.25rem;
  padding: 20px 0 40px 0;
}
@media screen and (max-width: 1024px) {
  header {
    margin: 0 2rem;
  }
}
@media screen and (max-width: 450px) {
  header {
    background-color: var(--BG-light);
    margin: 0;
    padding: 2rem;
  }
}
@media screen and (max-width: 1024px) {
  .menu-btn {
    margin-right: 0 !important;
  }
}
.exploreMarket_Btn {
  color: var(--black-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  transition: 0.2s all;
}
.exploreMarket_Btn:hover {
  color: var(--primary-color);
}
.accountSignUp_Btn {
  color: var(--primary-color);
  background-color: var(--BG-light);
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  padding: 17px 42px;
  margin: 0 10px;
  border-radius: 10px;
  transition: 0.3s all;
}
.accountSignUp_Btn:hover {
  color: var(--primary-color);
  background-color: var(--black-color);
}
.accountLogin_Btn {
  color: var(--black-color);
  background-color: var(--primary-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  padding: 17px 42px;
  border-radius: 10px;
  transition: 0.3s all;
}
.accountLogin_Btn:hover {
  color: var(--primary-color);
  background-color: var(--black-color);
}
@media screen and (max-width: 1065px) {
  .accountSignUp_Btn,
  .accountLogin_Btn {
    display: none;
  }
}

/* ================================== */

.overlay-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.overlay-menu a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.overlay-menu a:hover,
.overlay-menu a:focus {
  color: #f1f1f1;
}
.overlay-menu .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
@media screen and (max-height: 450px) {
  .overlay-menu a {
    font-size: 20px;
  }
  .overlay-menu .closebtn {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 50px;
  }
}
@media screen and (max-width: 450px) {
  .overlay-menu .closebtn {
    position: absolute;
    top: 0px;
    right: 20px;
    font-size: 50px;
  }
}
/*--------------------- Hero Section ---------------------*/
.hero-section {
  padding: 0 100px;
  background-size: contain;
  background-color: var(--BG-light);
}
.hero-section-text {
  margin: auto 0;
}
.heroSection_mainText {
  font-weight: 700;
  font-size: 3.875rem;
  line-height: 75px;
}
@media screen and (max-width: 1440px) {
  .heroSection_mainText {
    font-weight: 600;
    font-size: 3.44rem;
    line-height: 70px;
  }
}
.heroSection_Content {
  font-weight: 400;
  font-size: 1rem;
  line-height: 29px;
  margin-right: 4rem;
  color: var(--Grey-Color);
}
.analytics {
  position: relative;
}
.analytics :nth-child(1) {
  background: url("./media/hero-sectionbg-img.png") no-repeat right center;
  background-size: contain;
}
.analytics :nth-child(2) {
  position: absolute;
  top: 30%;
  left: -8%;
}
@media screen and (max-width: 1440px) {
  .analytics :nth-child(2) {
    position: absolute;
    top: 20%;
    left: -30%;
    width: 90%;
  }
}
@media screen and (max-width: 1024px) {
  .hero-section {
    padding: 0 2.5rem;
  }
}
@media screen and (max-width: 1440px) {
  .heroSection_mainText {
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 45px;
  }
}
@media screen and (max-width: 1024px) {
  .heroSection_Content {
    margin-right: 2rem;
  }
}
.hero-section_contact .start-demoBtn {
  padding: 17px 42px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--black-color);
  background-color: var(--primary-color);
  border-radius: 10px;
}
.hero-section_requestCall img {
  filter: drop-shadow(0px 20px 69px rgba(207, 205, 205, 0.26));
  margin: 0 16px 0 35px;
}
.hero-section_requestCall :last-child {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
@media screen and (max-width: 1440px) {
  .heroSection_analyticsComp {
    margin-top: -50px !important;
  }
}
@media screen and (max-width: 1024px) {
  .hero-section_contact .start-demoBtn {
    padding: 15px 25px;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 20px;
  }
  .hero-section_requestCall :last-child {
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 20px;
    color: #000000;
  }
  .heroSection_analyticsComp {
    margin-top: -40px !important;
  }
}
@media screen and (max-width: 768px) {
  .heroSection_mainText {
    font-weight: 600;
    font-size: 1.875rem;
    line-height: 35px;
  }
  .heroSection_Content {
    margin-right: 0;
  }
  .heroSection_analyticsComp {
    display: none;
  }
  .analytics :nth-child(2) {
    position: absolute;
    top: 20%;
    left: -10%;
  }
  .start-demoBtn {
    padding: 15px 20px;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 20px;
  }
  .hero-section_requestCall img {
    margin: 0 1rem 0 1rem;
  }
  .heroSection_Content {
    line-height: 22px;
  }
}
@media screen and (max-width: 450px) {
  .heroSection_mainText {
    font-weight: 700;
    font-size: 42px;
    line-height: 51px;
  }
  .heroSection_Content {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
  }
  .hero-section_requestCall {
    display: none !important;
  }
  .hero-section {
    padding: 0 2rem;
  }
  .analytics :nth-child(1) {
    display: none;
  }
  .analytics :nth-child(2) {
    display: none;
  }
}
@media screen and (min-width: 450px) {
  .mobileResponsiveAnalytic {
    display: none;
  }
  .mobileResponsiveAnalyticDashboard {
    display: none;
  }
}
/* <-------------- Company Logo Slider --------------> */

.container {
  width: 100%;
  /* margin: 0 auto; */
  /* padding: 40px; */
}
.center {
  text-align: center;
}
.slick-slide {
  margin: 0px 20px;
}
.slick-slide img {
  width: 100%;
}
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
@media screen and (max-width: 450px) {
  .logoSlider {
    background-color: transparent !important;
  }
}
/* --------------------------------------- */

/*--------------- Start Trade Steps ---------------*/

.startTrade_steps {
  padding: 0 215px 65px;
  background: url("./media/bg-Lines3.png") no-repeat top center;
  background-size: 100vw;
  background-color: var(--BG-light);
}
.startTrade_steps .row {
  background-color: var(--black-color);
  padding: 36px 51px;
  border-radius: 20px;
}
.startTrade_steps_heading h3 {
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 0;
  transition: 0.2s all;
}
.startTrade_steps_heading:hover svg path {
  fill: var(--primary-color);
}
.startTrade_steps_heading:hover h3 {
  color: var(--primary-color) !important;
}
.startTrade_steps_para {
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  color: var(--Grey-Color);
}
@media screen and (max-width: 1024px) {
  .startTrade_steps {
    padding: 0 4rem 4rem;
  }
}
@media screen and (max-width: 768px) {
  .startTrade_steps {
    padding: 0 2rem;
  }
  .startTrade_steps_heading h3 {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 0;
    transition: 0.2s all;
  }
  .nextStep-icon {
    display: none;
  }
  .startTrade_steps .row {
    padding: 25px 35px;
  }
}

@media screen and (max-width: 425px) {
  .startTrade_steps {
    padding: 0 20px;
    background: none;
  }
  .startTrade_steps .row {
    padding: 50px 26px;
  }
  .nextStep-icon {
    display: none;
  }
  .stratTrade_CenterStep {
    margin: 32px 0;
  }
}

/*------------------- Counter Section -------------------*/

.counter-up__Row {
  margin: 63px 215px 49px 280px;
}
.counter-up {
  position: relative;
}
.counter-up::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 20px;
  width: 100%;
  background-size: cover;
}
.counter-up .content {
  z-index: 1;
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.counter-up .content .box {
  /* width: calc(30% - 30px); */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.content .box .counter {
  font-weight: 500;
  font-size: 92px;
  line-height: 111px;
  color: var(--primary-color);
}
.content .box .text {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--black-color);
}
.numberCounter_content h3 {
  font-weight: 600;
  font-size: 42px;
  line-height: 51px;
  color: var(--black-color);
}
.numberCounter_content p {
  font-weight: 500;
  font-size: 16px;
  line-height: 29px;
  color: var(--Grey-Color);
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .counter-up__Row {
    margin: 2rem 4rem;
  }
  .content .box .counter {
    font-size: 55px;
    line-height: 92px;
  }
  .numberCounter_content h3 {
    font-size: 35px;
  }
}
@media screen and (max-width: 450px) {
  .numberCounter_content h3 {
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
  }
  .numberCounter_content p {
    font-weight: 500;
    font-size: 12px;
    line-height: 170%;
    text-align: center;
  }
  .content .box .counter {
    font-weight: 400;
    font-size: 62px;
    line-height: 75px;
  }
  .content .box .text {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: var(--Grey-Color);
    text-align: center;
  }
  .counter_centerBox {
    margin: 32px 0;
  }
  .content {
    display: flex;
    flex-direction: column;
  }
  .counter-up__Row {
    margin: 50px 36px !important;
  }
}
/*--------------- Chose Trillium Token Section ---------------*/
.chooseTrilliumOuterDiv {
  background-size: 100vw;
  background-color: #fafafa;
  padding: 105px 225px;
}
.chooseTrillium__right {
  margin: auto;
}
.chooseTrillium__right h2 {
  font-weight: 600;
  font-size: 42px;
  line-height: 51px;
}
.whyChooseTrillium__rfDemoBtn {
  padding: 17px 42px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--black-color);
  background-color: var(--primary-color);
  border-radius: 10px;
  transition: 0.2s all;
}
.whyChooseTrillium__rfDemoBtn:hover {
  background-color: var(--BG-light);
  color: var(--primary-color);
}
.clientData h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: var(--black-color);
  transition: 0.1s all;
}
.clientData h4:hover {
  color: var(--primary-color);
}
.clientData p {
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  color: var(--Grey-Color);
}
.whyChooseTrillium_smallHeadings h4 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 0;
  line-height: 24px;
  color: var(--black-color);
}

@media screen and (max-width: 1024px) {
  .chooseTrillium__right h2 {
    font-size: 35px;
    line-height: 46px;
  }
  .whyChooseTrillium_smallHeadings h4 {
    font-size: 1rem;
  }
  .whyChooseTrillium__rfDemoBtn {
    font-size: 1rem;
  }
}
@media screen and (max-width: 450px) {
  .chooseTrilliumOuterDiv {
    padding: 3rem 2rem !important;
  }
  .chooseTrillium__right h2 {
    font-size: 2rem;
    line-height: 39px;
  }
}
/*------------------- Expertise Section -------------------*/
.expertise_Section {
  padding: 100px 215px 0;
  margin-bottom: 100px;
}
.expertise_Section__mainHeading {
  font-weight: 600;
  font-size: 42px;
  line-height: 51px;
  color: var(--black-color);
}
.expertise_Section_OuterDiv {
  padding: 33px 35px 64px 24px;
  box-shadow: 0px 13.224px 99.1803px rgba(214, 214, 214, 0.25);
  border-radius: 6.61202px;
  border-bottom: 2px solid transparent;
  transition: 0.2s all;
}
.expertise_Section_OuterDiv:hover {
  border-bottom: 2px solid var(--primary-color);
}
.expertise_Section_InnerDiv h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: var(--black-color);
}
.expertise_Section_OuterDiv p {
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  color: var(--Grey-Color);
  margin-top: 32px;
}

@media screen and (max-width: 1024px) {
  .expertise_Section {
    padding: 2rem 4rem;
  }
  .expertise_Section_InnerDiv img {
    width: 60px;
  }
  .expertise_Section_InnerDiv h4 {
    font-size: 18px;
  }
  .expertise_Section_OuterDiv {
    padding: 23px 16px 25px 16px;
    width: 270px;
  }
}

@media screen and (max-width: 1440px) {
  .expertise_Section {
    padding: 2rem !important;
  }
  .expertise_Section_OuterDiv {
    width: 30%;
  }
}
@media screen and (min-width: 1440px) {
  .expertise_Section_OuterDiv {
    width: 30%;
  }
}

@media screen and (max-width: 768px) {
  .expertise_Section_OuterDiv p {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .expertise_Section_OuterDiv {
    width: 310px;
  }
  .expertise_Section__mainHeading {
    font-size: 35px;
    line-height: 46px;
  }
}
@media screen and (max-width: 450px) {
  .expertise_Section {
    margin-bottom: 50px;
  }
}
/*----------------- FAQ's Section -----------------*/
.faqs_Section {
  padding: 0 215px;
  margin-bottom: 80px;
}
.faqs_Section_Left h1 {
  font-weight: 600;
  font-size: 42px;
  line-height: 51px;
  color: var(--black-color);
}
.faqs_Section_Left p {
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  color: var(--Grey-Color);
}
.accordion {
  --bs-accordion-border-width: 0 !important;
  --bs-accordion-border-radius: 0 !important;
}
.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.accordion-button:not(.collapsed) {
  color: var(--black-color);
  background-color: var(--primary-color);
  box-shadow: none;
  padding: 19px 25px;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
}
.accordion-body {
  padding: 16px 25px 20px 25px;
  color: var(--Grey-Color);
  background-color: var(--BG-light);
}
.accordion-item {
  color: var(--black-color);
  border: none;
  outline: none;
  margin-top: 20px;
}
.accordion-button {
  padding: 19px 25px;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color: var(--black-color);
  background-color: var(--BG-light);
  position: relative;
}
@media screen and (min-width: 450px) {
  .accordion-button::before {
    content: "";
    height: 65px;
    width: 5px;
    left: 0;
    top: 0;
    position: absolute;
    background-color: var(--primary-color);
  }
}
.accordion-button:focus {
  outline: 0;
  box-shadow: none;
}
@media screen and (min-width: 1440px) and (max-width: 1600px) {
  .faqs_Section {
    padding: 0 150px;
  }
}
@media screen and (max-width: 1400px) and (min-width:1200px) {
  .faqs_Section {
    padding: 0 4rem;
  }
}
@media screen and (max-width: 1024px) {
  .faqs_Section {
    padding: 0 4rem;
  }
}
@media screen and (max-width: 768px) {
  .faqs_Section {
    padding: 0 2rem;
  }
  .faqs_Section_Right {
    margin-top: 20px;
  }
  .faqs_Section_Left h1 {
    text-align: center;
  }
  .faqs_Section_Left p {
    text-align: center;
  }
}
@media screen and (max-width: 450px) {
  .faqs_Section {
    padding: 0 2rem;
  }
  .faqs_Section_Left h1 {
    font-size: 32px;
    line-height: 39px;
    text-align: center;
  }
  .faqs_Section_Left p {
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }
  .accordion-button:not(.collapsed),
  .accordion-button {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    background-color: var(--primary-color);
  }
  .faqs_Section_Right {
    margin-top: 32px;
  }
  .accordion-body {
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    padding: 16px 32px 28px 10px;
  }
}
/*----------------- Testimonial Section -----------------*/
.testimonial_Section__Row {
  margin: 150px 215px;
  padding: 50px;
  background: var(--primary-color);
  border-radius: 20px;
}
.whatClientSay_Text {
  font-weight: 600;
  font-size: 42px;
  line-height: 51px;
  color: var(--black-color);
}
.testimonial_Section__Left p {
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  color: #ffffff;
}
.testimonial_Section__Right {
  position: relative;
}
.testimonialOuterDivFirst,
.testimonialOuterDivSec {
  padding: 18px 35px 18px 28px;
  border-radius: 20px;
  box-shadow: 0px 20px 150px rgba(176, 176, 176, 0.25);
  background-color: #ffffff;
  width: 470px;
  position: absolute;
}
.testimonialOuterDivFirst {
  right: 0;
  top: -7rem;
}
.testimonialOuterDivSec {
  left: 0;
  bottom: -7rem;
}
.testimonialOuter img {
  margin-top: -55px;
}
.testimonialText {
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  color: var(--Grey-Color);
}
.testimonial_nameRating h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 1024px) {
  .testimonial_Section__Row {
    padding: 12px 20px 14px 21px;
    margin: 10rem 4rem;
    padding: 50px;
  }
  .testimonialOuterDivFirst,
  .testimonialOuterDivSec {
    width: 405px;
  }
  .testimonialOuterDivSec {
    left: 30px;
    bottom: -7rem;
  }
}
@media screen and (max-width: 768px) {
  .whatClientSay_Text {
    font-size: 32px;
    line-height: 45px;
    text-align: center;
    margin-bottom: 20px;
  }
  .testimonial_Section__Row {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  .whatClientSay_Text {
    font-size: 32px;
    line-height: 39px;
  }
}
/*---------- Testimonial Slider Mobile Responsive---------- */
.testimonial {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonial-slide {
  padding: 32px 16px 50px;
}
.testimonial_box-top {
  padding: 36px 10px 24px 28px;
  height: 230px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 20px rgba(152, 193, 217, 0.493);
}
.testimonial_box-icon {
  padding: 32px 0;
}
.testimonial-img {
  width: 50px !important;
  margin-top: -60px;
}
.testimonial_ClientReview {
  font-weight: 500;
  font-size: 1rem;
  line-height: 27px;
  color: var(--Grey-Color);
}
.testimonialSubText h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--black-color);
  margin: 10px 0 5px;
}

/* === === === === === === === === === === */
/*----------------- Footer -----------------*/
footer {
  padding: 0 13.4rem;
}
@media screen and (max-width: 1024px) {
  footer {
    padding: 0 4rem;
  }
}
@media screen and (max-width: 768px) {
  footer {
    padding: 0 2rem;
  }
}
@media screen and (max-width: 768px) {
  .companyCol p,
  .getStartedCol p,
  .socialPresenceCol p {
    font-weight: 500;
    font-size: 1rem;
    line-height: 22px;
    margin-bottom: 1.875rem;
  }
}
.companyCol p,
.getStartedCol p,
.socialPresenceCol p {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 22px;
  margin-bottom: 1.875rem;
}
.companyCol a,
.getStartedCol a,
.socialPresenceCol a {
  display: block;
  font-weight: 500;
  font-size: 1rem;
  line-height: 27px;
  color: #6d6c6b;
  transition: 0.2s all;
  margin: 1.067rem 0;
}
@media screen and (max-width: 768px) and (min-width: 450px) {
  .linkedIn_SocialIcon img {
    margin-top: 1rem;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 768px) {
  .reachUs_Text {
    margin-top: 2.3rem;
  }
}
.plateformCol a:hover,
.companyCol a:hover,
.getStartedCol a:hover,
.socialPresenceCol a:hover {
  color: var(--primary-color);
}
.contactUs a {
  font-weight: 500;
  font-size: 1rem;
  line-height: 27px;
  color: #6d6c6b;
}
.footerLogo img {
  width: 133px;
}
.pwdIng a {
  color: var(--primary-color);
}
.pwdIng a:hover {
  text-decoration: underline;
}
.footerHrLine {
  color: #e4e4e4;
}
@media screen and (min-width: 450px) {
  .footerHrLine {
    display: none;
  }
}

