/*------------ Google Fonts ------------*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
/* ------------------------------------ */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --primary-color: #e4b657;
  --BG-light: #fffaf0;
  --Grey-Color: #b0b0b0;
  --black-color: #1c1710;
  --Red-danger: #d92828;
}

a {
  text-decoration: none;
}
ul li {
  list-style: none;
}
.SectionMain__Heading {
  font-weight: 600;
  font-size: 42px;
  line-height: 51px;
}
/*----------------- Header -----------------*/
header {
  margin: 0 6.25rem;
  padding: 20px 0 40px 0;
}
@media screen and (max-width: 1024px) {
  header {
    margin: 0 2rem;
  }
}
@media screen and (max-width: 450px) {
  header {
    background-color: var(--BG-light);
    margin: 0;
    padding: 2rem;
  }
}
@media screen and (max-width: 1024px) {
  .menu-btn {
    margin-right: 0 !important;
  }
}
.exploreMarket_Btn {
  color: var(--black-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  transition: 0.2s all;
}
.exploreMarket_Btn:hover {
  color: var(--primary-color);
}
.accountSignUp_Btn {
  color: var(--primary-color);
  background-color: var(--BG-light);
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  padding: 17px 42px;
  margin: 0 10px;
  border-radius: 10px;
  transition: 0.3s all;
}
.accountSignUp_Btn:hover {
  color: var(--primary-color);
  background-color: var(--black-color);
}
.accountLogin_Btn {
  color: var(--black-color);
  background-color: var(--primary-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  padding: 17px 42px;
  border-radius: 10px;
  transition: 0.3s all;
}
.accountLogin_Btn:hover {
  color: var(--primary-color);
  background-color: var(--black-color);
}
@media screen and (max-width: 1065px) {
  .accountSignUp_Btn,
  .accountLogin_Btn {
    display: none;
  }
}

/* ================================== */

.overlay-menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.overlay-menu a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.overlay-menu a:hover,
.overlay-menu a:focus {
  color: #f1f1f1;
}
.overlay-menu .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
@media screen and (max-height: 450px) {
  .overlay-menu a {
    font-size: 20px;
  }
  .overlay-menu .closebtn {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 50px;
  }
}
@media screen and (max-width: 450px) {
  .overlay-menu .closebtn {
    position: absolute;
    top: 0px;
    right: 20px;
    font-size: 50px;
  }
}
/* === === === === === === === === === === === === */

/*--------------------- Hero Section ---------------------*/
.tfe-plateformHero__Section {
  background: url("./media/Lines.png") no-repeat center center;
  background-size: contain;
  background-color: var(--BG-light);
  padding: 180px 100px 180px 100px;
}
.tfe-plateformHero__left p {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: var(--primary-color);
}
.tfe-plateformHero__left h1 {
  font-weight: 600;
  font-size: 62px;
  line-height: 75px;
  color: var(--black-color);
}
.tfe-plateformHero__right p {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--Grey-Color);
}
.tfe-plateformHero__blackSection {
  background-color: var(--black-color);
  height: 18px;
}
.tfe-plateformHero__primaryClrSection {
  background-color: var(--primary-color);
  height: 120px;
}
@media screen and (max-width: 768px) {
  .tfe-plateformHero__Section {
    padding: 180px 50px 180px 50px;
  }
}
@media screen and (max-width: 450px) {
  .tfe-plateformHero__Section {
    padding: 50px;
  }
  .tfe-plateformHero__left p {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 8px;
  }
  .tfe-plateformHero__left h1 {
    font-size: 42px;
    line-height: 51px;
  }
  .tfe-plateformHero__right p {
    font-size: 12px;
    line-height: 15px;
  }
  .tfe-plateformHero__primaryClrSection {
    height: 60px;
  }
}
/*---------------- Why Trade Forex With Us/Plateform Page ----------------*/
.tfe-whyTradeForex__Plateform_Row {
  margin: 100px 0;
  padding: 0 215px;
}
.tfe-whyTradeForex__PlateformOuter h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: var(--black-color);
}
.tfe-whyTradeForex_Heading {
  font-weight: 600;
  font-size: 42px;
  line-height: 51px;
  color: var(--black-color);
  margin-bottom: 80px;
}
.tfe-whyTradeForex__mtDownloadComp {
  padding: 43px 16px 39px;
  box-shadow: 0px 20px 69px rgba(233, 233, 233, 0.25);
  border-radius: 20px;
  transition: 0.2s all;
  border: 1px solid transparent;
}
.tfe-whyTradeForex__mtDownloadComp:hover {
  border: 1px solid var(--primary-color);
}
.tfe-whyTradeForex__mtDownloadComp p {
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  color: var(--Grey-Color);
  margin: 18px 0 40px;
}
.mtDownload__Btn {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  padding: 17px 42px;
  color: var(--primary-color);
  background-color: var(--BG-light);
  border-radius: 10px;
  transition: 0.2s all;
}
.mtDownload__Btn:hover {
  color: var(--black-color);
  background-color: var(--primary-color);
}
@media screen and (max-width: 1024px) {
  .tfe-whyTradeForex__Plateform_Row {
    padding: 0 100px;
  }
}
@media screen and (max-width: 768px) {
  .tfe-whyTradeForex__Plateform_Row {
    padding: 0 50px;
  }
}
@media screen and (max-width: 450px) {
  .tfe-mtDownloadParentDiv {
    flex-wrap: wrap;
  }
  .tfe-whyTradeForex__mtDownloadComp {
    margin-top: 30px;
  }
  .tfe-whyTradeForex__Plateform_Row {
    margin: 50px 0;
  }
  .tfe-whyTradeForex_Heading {
    margin-bottom: 32px !important;
  }
  .tfe-whyTradeForex_Heading {
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 0;
  }
}

/*---------------- Our Company ----------------*/
.fe-ourCompany_Row {
  margin: 100px 0;
  padding: 0 215px;
}
.fe-ourCompany_ParentDiv h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: var(--black-color);
  margin-top: 10px;
}
.fe-ourCompany_Heading {
  font-weight: 600;
  font-size: 42px;
  line-height: 51px;
  color: var(--black-color);
  margin-bottom: 80px;
}
.fe-ourCompany_Comp {
  padding: 20px 23px;
  border: 1px solid #e4e4e4;
  border-radius: 200px;
  transition: 0.2s all;
}
.fe-ourCompany_Comp:hover {
  border: 1px solid var(--primary-color);
  box-shadow: 0px 20px 69px rgba(174, 174, 174, 0.25);
}
.fe-ourCompany_Comp p {
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  color: var(--Grey-Color);
  margin-top: 8px;
  margin-bottom: 0;
}
.fe-ourCompany_CenterDiv {
  margin: 30px 0 !important;
}
@media screen and (max-width: 1024px) {
  .fe-ourCompany_Row {
    padding: 0 100px;
  }
}
@media screen and (max-width: 768px) {
  .fe-ourCompany_Row {
    padding: 0 50px;
  }
  .fe-ourCompany_ParentDiv {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .fe-ourCompany_ParentDiv {
    flex-wrap: wrap;
  }
  .fe-ourCompany_Comp {
    margin-top: 30px;
    border-radius: 20px;
  }
  .fe-ourCompany_Row {
    margin: 50px 0;
  }
  .fe-ourCompany_Heading {
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 0;
  }
  .fe-ourCompany_CenterDiv {
    margin: 0 !important;
  }
}

/*------------------ Meta Trader 5 ------------------*/
.tfe-mt5Plateform__Row {
  padding: 0 215px;
  margin-bottom: 100px;
  background: url("./media/mt5-bg-lines.png") no-repeat center center;
  background-size: 100%;
}
.tfe-mt5Plateform_Col {
  background-color: #ffffff;
  padding: 48px 25px 66px;
  border-radius: 20px;
  box-shadow: 0px 20px 69px rgba(233, 233, 233, 0.25);
}
.tfe-mt5Plateform_Heading {
  font-weight: 600;
  font-size: 42px;
  line-height: 51px;
  color: var(--black-color);
}
.tfe-mt5Plateform_text {
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  color: var(--Grey-Color);
  margin: 16px 0 27px;
}
.tfe-mt5Plateform_Points ul li {
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  color: var(--black-color);
  position: relative;
}
.tfe-mt5Plateform_Points ul li::before {
  content: url("./media/list-item-icon.svg");
  position: absolute;
  left: -30px;
  top: 50%;
  transform: translate(-50%, -50%);
}
.tfe-mt5Plateform_Points ul li:not(:nth-child(1)) {
  margin-top: 30px;
}
@media screen and (max-width: 1024px) {
  .tfe-mt5Plateform__Row {
    padding: 0 100px;
  }
}
@media screen and (max-width: 768px) {
  .tfe-mt5Plateform__Row {
    padding: 0 50px;
  }
}
@media screen and (max-width: 450px) {
  .tfe-mt5Plateform__Row {
    padding: 50px 50px;
  }
  .tfe-mt5Plateform_Heading {
    font-size: 32px;
    line-height: 39px;
  }
  .tfe-mt5Plateform_text {
    font-size: 12px;
    line-height: 21px;
  }
  .tfe-mt5Plateform_Points ul li {
    font-size: 16px;
    line-height: 22px;
  }
  .tfe-mt5Plateform_List {
    flex-wrap: wrap;
  }
  .tfe-mt5Plateform__Row {
    margin-bottom: 50px;
  }
}
/*------------------ Key Feature Section ------------------*/
.tfe-keyFeature__Row {
  padding: 100px 215px 92px;
  margin-bottom: 100px;
  background-color: var(--black-color);
}
.tfe-keyFeautureHead h1 {
  font-weight: 500;
  font-size: 42px;
  line-height: 51px;
  color: var(--primary-color);
}
.tfe-keyFeautureHead h2 {
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;
}
.tfe-keyFeatureText {
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  color: var(--Grey-Color);
}
.tfe-keyFeature__Col {
  padding: 41px 49px 33px 30px;
  background-color: #292929;
  border-radius: 25px;
  max-height: 191px;
}
@media screen and (max-width: 1024px) {
  .tfe-keyFeature__Row {
    padding: 100px 100px 92px;
  }
}
@media screen and (max-width: 768px) {
  .tfe-keyFeature__Row {
    padding: 50px;
  }
  .tfe-keyFeautureHead h2 {
    font-size: 18px;
  }
  .tfe-keyFeatureText {
    font-size: 14px;
    line-height: 21px;
  }
}
@media screen and (max-width: 450px) {
  .tfe-keyFeature__Row {
    padding: 50px;
  }
  .tfe-keyFeature__ParentDiv {
    flex-wrap: wrap;
  }
  .SectionMain__Heading {
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 50px !important;
  }
  .tfe-keyFeautureHead h1 {
    font-size: 32px;
    line-height: 39px;
  }
  .tfe-keyFeautureHead h2 {
    font-size: 18px;
    line-height: 21px;
  }
  .tfe-keyFeatureText {
    font-size: 14px;
    line-height: 19px;
  }
}
/* ========================================================================= */

/*----------------- Footer -----------------*/
footer {
  padding: 0 13.4rem;
}
@media screen and (max-width: 1024px) {
  footer {
    padding: 0 4rem;
  }
}
@media screen and (max-width: 768px) {
  footer {
    padding: 0 2rem;
  }
}
@media screen and (max-width: 768px) {
  .companyCol p,
  .getStartedCol p,
  .socialPresenceCol p {
    font-weight: 500;
    font-size: 1rem;
    line-height: 22px;
    margin-bottom: 1.875rem;
  }
}
.companyCol p,
.getStartedCol p,
.socialPresenceCol p {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 22px;
  margin-bottom: 1.875rem;
}
.companyCol a,
.getStartedCol a,
.socialPresenceCol a {
  display: block;
  font-weight: 500;
  font-size: 1rem;
  line-height: 27px;
  color: #6d6c6b;
  transition: 0.2s all;
  margin: 1.067rem 0;
}
@media screen and (max-width: 768px) and (min-width: 450px) {
  .linkedIn_SocialIcon img {
    margin-top: 1rem;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 768px) {
  .reachUs_Text {
    margin-top: 2.3rem;
  }
}
.plateformCol a:hover,
.companyCol a:hover,
.getStartedCol a:hover,
.socialPresenceCol a:hover {
  color: var(--primary-color);
}
.contactUs a {
  font-weight: 500;
  font-size: 1rem;
  line-height: 27px;
  color: #6d6c6b;
}
.footerLogo img {
  width: 133px;
}
.pwdIng a {
  color: var(--primary-color);
}
.pwdIng a:hover {
  text-decoration: underline;
}
.footerHrLine {
  color: #e4e4e4;
}
@media screen and (min-width: 450px) {
  .footerHrLine {
    display: none;
  }
}

/* ------------------------------------ */
